<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">DBugger</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Search and filter panel on mobile devices -->
    <div class="offcanvas offcanvas-bottom d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-bottom flex-grow-1 pe-3">
          <li class="nav-item">
            <div class="card">
              <div class="card-header">
                  <form class="d-flex mt-2 mb-2" role="search">
                    <input class="form-control me-2" type="search" placeholder="Ticket ID" aria-label="Search" data-bs-theme="light"/>
                    <button class="btn btn-success" type="submit">Search</button>
                  </form>
              </div>
              <div class="card-body">
                Filters
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>







